Package: program-dbgsym
Package-Type: ddeb
Source: program
Version: 1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bohdan Maliarchuk <malyarchuk.bogdan@lll.kpi.ua>
Installed-Size: 29
Depends: program (= 1.0-1)
Section: debug
Priority: optional
Description: debug symbols for program
Build-Ids: 184095bbb4327aaf26218ac087631df1901422e8
